In [433]:
#importamos y leemos el database

linkGit="https://github.com/Melisapadilla/PC2/raw/refs/heads/main/HDI.xlsx%20-%20Table%201.csv" 
data=pd.read_csv(linkGit)
data

,Back,Table 1. Human Development Index and its components,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,SDG3,NaN,SDG4.3,NaN,SDG4.4,NaN,SDG8.5,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,Human Development Index (HDI),NaN,Life expectancy at birth,NaN,Expected years of schooling,NaN,Mean years of schooling,NaN,Gross national income (GNI) per capita,NaN,GNI per capita rank minus HDI rank,NaN,HDI rank
4,HDI rank,Country,Value,NaN,(years),NaN,(years),NaN,(years),NaN,(2017 PPP $),NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271,NaN,Column 2: UNDESA (2022a).,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
272,NaN,"Column 3: CEDLAS and World Bank (2022), ICF Ma...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
273,NaN,"Column 4: Barro and Lee (2018), ICF Macro Demo...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
274,NaN,"Column 5: IMF (2022), UNDESA (2022b), United N...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
275,NaN,Column 6: Calculated based on data in columns ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [434]:
#Elimino las columnas con las que no voy a trabajar 
keep=['Back','Table 1. Human Development Index and its components ','','Unnamed: 4','Unnamed: 6','Unnamed: 8','Unnamed: 10','Unnamed: 12','Unnamed: 14']
dontKeep=set(data.columns.to_list())-set(keep)
Newdata=data.drop(columns=dontKeep)
Newdata

,Back,Table 1. Human Development Index and its components,Unnamed: 4,Unnamed: 6,Unnamed: 8,Unnamed: 10,Unnamed: 12,Unnamed: 14
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,SDG3,SDG4.3,SDG4.4,SDG8.5,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,Life expectancy at birth,Expected years of schooling,Mean years of schooling,Gross national income (GNI) per capita,GNI per capita rank minus HDI rank,HDI rank
4,HDI rank,Country,(years),(years),(years),(2017 PPP $),NaN,NaN
...,...,...,...,...,...,...,...,...
271,NaN,Column 2: UNDESA (2022a).,NaN,NaN,NaN,NaN,NaN,NaN
272,NaN,"Column 3: CEDLAS and World Bank (2022), ICF Ma...",NaN,NaN,NaN,NaN,NaN,NaN
273,NaN,"Column 4: Barro and Lee (2018), ICF Macro Demo...",NaN,NaN,NaN,NaN,NaN,NaN
274,NaN,"Column 5: IMF (2022), UNDESA (2022b), United N...",NaN,NaN,NaN,NaN,NaN,NaN
275,NaN,Column 6: Calculated based on data in columns ...,NaN,NaN,NaN,NaN,NaN,NaN

In [435]:
#Cambio los nombres correctos a las columnas restantes
change={'Back':"HDI_rank",'Table1. Human Development Index and its components' : "Country", 'Unnamed: 2': "HDI", 'Unnamed: 4': "Life expectancy at birth", 'Unnamed: 6': "Expected years of schooling",'Unnamed: 8': "Mean years of schooling", 'Unnamed: 10':"Gross national income (GNI) per capita", 'Unnamed: 12': "GNI per capita rank minus HDI rank",'Unnamed: 14' : "HDI rank"}
Newdata.rename(columns=change,inplace=True)
Newdata

,HDI_rank,Table 1. Human Development Index and its components,Life expectancy at birth,Expected years of schooling,Mean years of schooling,Gross national income (GNI) per capita,GNI per capita rank minus HDI rank,HDI rank
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,SDG3,SDG4.3,SDG4.4,SDG8.5,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,Life expectancy at birth,Expected years of schooling,Mean years of schooling,Gross national income (GNI) per capita,GNI per capita rank minus HDI rank,HDI rank
4,HDI rank,Country,(years),(years),(years),(2017 PPP $),NaN,NaN
...,...,...,...,...,...,...,...,...
271,NaN,Column 2: UNDESA (2022a).,NaN,NaN,NaN,NaN,NaN,NaN
272,NaN,"Column 3: CEDLAS and World Bank (2022), ICF Ma...",NaN,NaN,NaN,NaN,NaN,NaN
273,NaN,"Column 4: Barro and Lee (2018), ICF Macro Demo...",NaN,NaN,NaN,NaN,NaN,NaN
274,NaN,"Column 5: IMF (2022), UNDESA (2022b), United N...",NaN,NaN,NaN,NaN,NaN,NaN
275,NaN,Column 6: Calculated based on data in columns ...,NaN,NaN,NaN,NaN,NaN,NaN

In [404]:
#Luego elimino las filas iniciales que no son parte de la data
HDI= Newdata.drop(range(0,4))
HDI

,HDI_rank,Table 1. Human Development Index and its components,Life expectancy at birth,Expected years of schooling,Mean years of schooling,Gross national income (GNI) per capita,GNI per capita rank minus HDI rank,HDI rank
4,HDI rank,Country,(years),(years),(years),(2017 PPP $),NaN,NaN
5,NaN,NaN,2021,2021,2021,2021,2021,2020
6,NaN,VERY HIGH HUMAN DEVELOPMENT,NaN,NaN,NaN,NaN,NaN,NaN
7,1,Switzerland,"84,0","16,5","13,9",66.933,5,3
8,2,Norway,"83,2","18,2","13,0",64.660,6,1
...,...,...,...,...,...,...,...,...
271,NaN,Column 2: UNDESA (2022a).,NaN,NaN,NaN,NaN,NaN,NaN
272,NaN,"Column 3: CEDLAS and World Bank (2022), ICF Ma...",NaN,NaN,NaN,NaN,NaN,NaN
273,NaN,"Column 4: Barro and Lee (2018), ICF Macro Demo...",NaN,NaN,NaN,NaN,NaN,NaN
274,NaN,"Column 5: IMF (2022), UNDESA (2022b), United N...",NaN,NaN,NaN,NaN,NaN,NaN
275,NaN,Column 6: Calculated based on data in columns ...,NaN,NaN,NaN,NaN,NaN,NaN

In [436]:
#Quedaría eliminar las ultimas filas de los últimos países e información 
HDINEW= HDI.drop(range(201,276))
HDINEW

,HDI_rank,Table 1. Human Development Index and its components,Life expectancy at birth,Expected years of schooling,Mean years of schooling,Gross national income (GNI) per capita,GNI per capita rank minus HDI rank,HDI rank
4,HDI rank,Country,(years),(years),(years),(2017 PPP $),NaN,NaN
5,NaN,NaN,2021,2021,2021,2021,2021,2020
6,NaN,VERY HIGH HUMAN DEVELOPMENT,NaN,NaN,NaN,NaN,NaN,NaN
7,1,Switzerland,"84,0","16,5","13,9",66.933,5,3
8,2,Norway,"83,2","18,2","13,0",64.660,6,1
...,...,...,...,...,...,...,...,...
196,187,Burundi,"61,7","10,7","3,1",732,4,187
197,188,Central African Republic,"53,9","8,0","4,3",966,1,188
198,189,Niger,"61,6","7,0","2,1",1.240,-3,189
199,190,Chad,"52,5","8,0","2,6",1.364,-7,190
200,191,South Sudan,"55,0","5,5","5,7",768,-1,191

In [438]:
#Reemplazo todas las comas por puntos
HDICleaned= HDINEW.replace(',', '.', regex=True)
HDICleaned

,HDI_rank,Table 1. Human Development Index and its components,Life expectancy at birth,Expected years of schooling,Mean years of schooling,Gross national income (GNI) per capita,GNI per capita rank minus HDI rank,HDI rank
4,HDI rank,Country,(years),(years),(years),(2017 PPP $),NaN,NaN
5,NaN,NaN,2021,2021,2021,2021,2021,2020
6,NaN,VERY HIGH HUMAN DEVELOPMENT,NaN,NaN,NaN,NaN,NaN,NaN
7,1,Switzerland,84.0,16.5,13.9,66.933,5,3
8,2,Norway,83.2,18.2,13.0,64.660,6,1
...,...,...,...,...,...,...,...,...
196,187,Burundi,61.7,10.7,3.1,732,4,187
197,188,Central African Republic,53.9,8.0,4.3,966,1,188
198,189,Niger,61.6,7.0,2.1,1.240,-3,189
199,190,Chad,52.5,8.0,2.6,1.364,-7,190
200,191,South Sudan,55.0,5.5,5.7,768,-1,191

In [439]:
#eliminamos las comas en GNI
HDICleaned['Gross national income (GNI) per capita']=HDICleaned['Gross national income (GNI) per capita'].str.replace(".",'')
HDICleaned

,HDI_rank,Table 1. Human Development Index and its components,Life expectancy at birth,Expected years of schooling,Mean years of schooling,Gross national income (GNI) per capita,GNI per capita rank minus HDI rank,HDI rank
4,HDI rank,Country,(years),(years),(years),(2017 PPP $),NaN,NaN
5,NaN,NaN,2021,2021,2021,2021,2021,2020
6,NaN,VERY HIGH HUMAN DEVELOPMENT,NaN,NaN,NaN,NaN,NaN,NaN
7,1,Switzerland,84.0,16.5,13.9,66933,5,3
8,2,Norway,83.2,18.2,13.0,64660,6,1
...,...,...,...,...,...,...,...,...
196,187,Burundi,61.7,10.7,3.1,732,4,187
197,188,Central African Republic,53.9,8.0,4.3,966,1,188
198,189,Niger,61.6,7.0,2.1,1240,-3,189
199,190,Chad,52.5,8.0,2.6,1364,-7,190
200,191,South Sudan,55.0,5.5,5.7,768,-1,191

In [440]:
#elimino todas las NaN
HDICleaned = HDICleaned.fillna('')
HDICleaned

,HDI_rank,Table 1. Human Development Index and its components,Life expectancy at birth,Expected years of schooling,Mean years of schooling,Gross national income (GNI) per capita,GNI per capita rank minus HDI rank,HDI rank
4,HDI rank,Country,(years),(years),(years),(2017 PPP $),,
5,,,2021,2021,2021,2021,2021,2020
6,,VERY HIGH HUMAN DEVELOPMENT,,,,,,
7,1,Switzerland,84.0,16.5,13.9,66933,5,3
8,2,Norway,83.2,18.2,13.0,64660,6,1
...,...,...,...,...,...,...,...,...
196,187,Burundi,61.7,10.7,3.1,732,4,187
197,188,Central African Republic,53.9,8.0,4.3,966,1,188
198,189,Niger,61.6,7.0,2.1,1240,-3,189
199,190,Chad,52.5,8.0,2.6,1364,-7,190
200,191,South Sudan,55.0,5.5,5.7,768,-1,191

In [444]:
#elimino la palabra HDI RANK que aún queda
HDICleaned.iloc[0, 0] = ''
HDICleaned

,HDI_rank,Table 1. Human Development Index and its components,Life expectancy at birth,Expected years of schooling,Mean years of schooling,Gross national income (GNI) per capita,GNI per capita rank minus HDI rank,HDI rank
4,,Country,(years),(years),(years),(2017 PPP $),,
5,,,2021,2021,2021,2021,2021,2020
6,,VERY HIGH HUMAN DEVELOPMENT,,,,,,
7,1,Switzerland,84.0,16.5,13.9,66933,5,3
8,2,Norway,83.2,18.2,13.0,64660,6,1
...,...,...,...,...,...,...,...,...
196,187,Burundi,61.7,10.7,3.1,732,4,187
197,188,Central African Republic,53.9,8.0,4.3,966,1,188
198,189,Niger,61.6,7.0,2.1,1240,-3,189
199,190,Chad,52.5,8.0,2.6,1364,-7,190
200,191,South Sudan,55.0,5.5,5.7,768,-1,191

In [445]:
#quitamos los espacios que pueda haber
objectCols=HDICleaned.select_dtypes(include=['object']).columns
objectCols

Index(['HDI_rank', 'Table 1. Human Development Index and its components ',
       'Life expectancy at birth', 'Expected years of schooling',
       'Mean years of schooling', 'Gross national income (GNI) per capita',
       'GNI per capita rank minus HDI rank', 'HDI rank'],
      dtype='object')

In [446]:
HDICleaned = HDICleaned.loc[:,objectCols].apply(lambda col:col.str.strip())
HDICleaned
#con esto, podemos asumir limpio el database

,HDI_rank,Table 1. Human Development Index and its components,Life expectancy at birth,Expected years of schooling,Mean years of schooling,Gross national income (GNI) per capita,GNI per capita rank minus HDI rank,HDI rank
4,,Country,(years),(years),(years),(2017 PPP $),,
5,,,2021,2021,2021,2021,2021,2020
6,,VERY HIGH HUMAN DEVELOPMENT,,,,,,
7,1,Switzerland,84.0,16.5,13.9,66933,5,3
8,2,Norway,83.2,18.2,13.0,64660,6,1
...,...,...,...,...,...,...,...,...
196,187,Burundi,61.7,10.7,3.1,732,4,187
197,188,Central African Republic,53.9,8.0,4.3,966,1,188
198,189,Niger,61.6,7.0,2.1,1240,-3,189
199,190,Chad,52.5,8.0,2.6,1364,-7,190
200,191,South Sudan,55.0,5.5,5.7,768,-1,191